<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allaber.dota2db">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activity.ActivityDirectoryItem"></activity>
        <activity android:name=".Activity.ActivityAbout" />
        <activity android:name=".Activity.ActivityUpdate" />
        <activity android:name=".Activity.ActivityDirectory" />
        <activity
            android:name=".Activity.ActivitySplash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Сюда фильтр -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ActivityMain"
            android:theme="@style/MainTranslucent" />
        <activity android:name=".Activity.ActivityItem" />
        <activity android:name=".Activity.ActivityAllHeros" />
        <activity android:name=".Activity.ActivityAllItems" />
        <activity android:name=".Activity.ActivityHero" />
    </application>

</manifest>